.post {
    background: white;
    padding: 8px;
    margin: 8px;
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 1px 5px;
    border-radius: 2px;
}

.post_header {
    margin-bottom: 8px;
}

.comments {
    margin-left: -25px;
}

.title {
    margin: 8px;
}

form {
    width: 40%;
    margin: 8px;
}

form > input {
    margin-top: 8px;
}

form > textarea {
    width: 100%;
}
