form {
    position: absolute;
    width: 800px;
    height: 600px;
    left: calc(50% - 400px);
    top: calc(50% - 300px);
    z-index: 9999;
    padding: 15px;
}

form > p,
h1 {
    padding: 15px;
}

form > p > label {
    vertical-align: top;
}
