<div class="center">
    <div class="floatingElement post">
        <h1>Post to /r/{{subreddit}}</h1>
        <hr>
        <p class="message">{{ message }}</p>
        <form [ng-form-model]="postForm">
            <label for="title">Title:</label>
            <input type="text" id="title" ng-control="title">
            <br>
            <br>
            <label for="url">Content URL:</label>
            <input type="text" id="url" ng-control="url">
            <br>
            <br>
            <label for="imageUrl">Image URL:</label>
            <input type="text" id="imageUrl" ng-control="imageUrl">
            <br>
            <br>
            <label for="content">Content:</label>
            <textarea rows="20" cols="1" id="content" ng-control="content"></textarea>
            <br>
            <br>
            <input type="submit" value="Post" (click)="submit()">
            <br>
        </form>
    </div>
</div>
