<!DOCTYPE html>
<html lang=“en-US”>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Reddit Clone</title>
        <link rel="icon" type="image/png" href="favicon.png"/>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div class="wrapper">
            <header>
                <span>header</span>
            </header>
            <main>
                Hello, World!
            </main>
        </div>
        <footer>
            <p>footer</p>
        </footer>
    </body>
</html>
