<div class="app">
    <div class="wrapper">
        <header class="app-header">
            <span class="auth" *ng-if="!user">
                <a href="#" class="login" [router-link]="['/signup']">Sign Up</a>
                |
                <a href="#" class="login" [router-link]="['/login']">Login</a>
            </span>
            <span class="auth" *ng-if="user">
                Welcome <a href="#" class="user" [router-link]="['/user', {name: user.username}]">{{ user.username }}</a>
                |
                <a (click)="logout()">Logout</a>
            </span>
            <a href="#" [router-link]="['/home']" class="title">Leddit</a>
        </header>
        <main>
            <router-outlet></router-outlet>
        </main>
    </div>
    <footer class="app-footer">
        <div>© 2015 leddit inc. All rights reserved.</div>
    </footer>
</div>
