.app > .app-header > .title {
    font-size: 20px;
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    height: auto;
    margin: 0 auto -80px;
}

.app-header {
    padding: 8px;
    min-height: 40px;
    background: #4f8ef7;
    color: #fff;
}

.app-header a {
    color: #fff;
}

main {
    padding: 0 0 80px 0;
}

.app-footer {
    position: relative;
    height: 80px;
    margin: 0 auto;
    padding: 8px;
    text-align: center;
}

.app-footer > div {
    position: absolute;
    bottom: 0;
    left: calc(50% - 131px);
    padding: 8px;
}

.auth {
    float: right;
}
