<div class="app">
    <login [class]="{hide: !showLogin}"></login>
    <div class="wrapper">
        <header class="app-header">
            <span class="auth">
                <a href="#" class="login" [router-link]="['/signup']">Sign Up</a>
                |
                <a href="#" class="login" [router-link]="['/login']">Login</a>
            </span>
            <a href="#" [router-link]="['/home']" class="title">Leddit</a>
        </header>
        <main>
            <router-outlet></router-outlet>
        </main>
    </div>
    <footer class="app-footer">
        <p>© 2015 leddit inc. All rights reserved.</p>
    </footer>
</div>
