form {
    position: absolute;
    width: 400px;
    height: 270px;
    left: calc(50% - 200px);
    top: calc(50% - 135px);
    z-index: 9999;
    padding: 15px;
}

form > p,
h1 {
    padding: 15px;
}
