<div class="center">
    <div class="floatingElement login">
        <h1>Login</h1>
        <hr>
        <p class="message">{{ message }}</p>
        <form [ng-form-model]="loginForm">
            <label for="username">Username:</label>
            <input type="text" id="username" ng-control="username">
            <br>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" ng-control="password">
            <br>
            <br>
            <input type="submit" value="Login" (click)="submit()">
            <br>
        </form>
    </div>
</div>
