<div class="comment-item">
    <div>
        <span class="votes">
            <div class="upvote"><i class="fa fa-caret-up"></i></div>
            <div>1</div>
            <div class="downvote"><i class="fa fa-caret-down"></i></div>
        </span>
        <section>
            <a href="#" [router-link]="['/user', {name: comment.author}]">{{ comment.author }}</a>
            {{ comment.when_created }}
        </section>
        <section>
            {{ comment.content }}
        </section>
        <section>
            <a href="#">Reply</a>
        </section>
    </div>
</div>
