
.comment-item, .reply {
    padding: 8px;
    margin: 8px;
}

.comment-item {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 1px 5px;
    border-radius: 2px;
}

.votes {
    float: left;
    margin-right: 10px;
}

form {
    width: 40%;
}

form > input {
    margin-top: 8px;
}

form > textarea {
    width: 100%;
}
